header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background: $color-primary;
  color: #fff;
  padding: 0 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header__left {
  img {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-right: 8px;
  }

  a {
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}

.header__right {
  .dropdown {
    height: 100%;

    &:hover {
      background: $color-primary--hover;

      .dropdown-content {
        display: block;
        transform: translateY(0);
      }
    }
  }

  .dropbtn {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    background: #fff;
    box-shadow: 0 2px 11px 0 rgba(#000, 0.75);
    transform: translateY(-100%);
    // TODO: make transition work
    transition: transform .25s ease;
  }

  .dropdown-content a {
    display: block;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #333;

    &:hover {
      background: #ddd;
    }
  }
}
